/* ---------- Fonts ---------- */

@font-face {
  font-family: 'logo-reg';
  src: url('./Fonts/PPMORI-REGULAR.OTF');
}

@font-face {
  font-family: 'logo-semi-bold';
  src: url('./Fonts/PPMORI-SEMIBOLD.OTF');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* ---------- CSS Variables ---------- */

:root {
  --big-font: 1.37rem;
  --reg-font: 1rem;
  --small-font: .8rem;

  --gap: 2.3rem;
}

/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
