/* ---------- Fonts ---------- */

@font-face {
  font-family: 'logo-reg';
  src: url('./Fonts/PPMORI-REGULAR.OTF');
}

@font-face {
  font-family: 'logo-semi-bold';
  src: url('./Fonts/PPMORI-SEMIBOLD.OTF');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* ---------- CSS Variables ---------- */

:root {
  --smallest-font: .8rem;
  --small-font: .9rem;
  --reg-font: 1rem;
  --medium-font: 1.2rem;
  --big-font: 1.4rem;

  --box-padding: 1.2rem 1.8rem;

  --small-gap: 1rem;

  --pink: #ffc4dd;
  --purple: #806dff;
  --yellow: #fff799;
}

/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  letter-spacing: -.05rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- Header ---------- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 2.5rem;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: flex-start;
  column-gap: .8rem;
}

.logo-container p {
  font-family: 'logo-semi-bold';
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: -.1rem;
}

.logo-container span {
  font-family: 'logo-reg';
  font-size: .81rem;
  color: #000;
  background-color: #fff;
  padding: 2px 5px 0px 5px;
  border-radius: 50px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.menu ul {
  font-weight: 500;
  font-size: var(--reg-font);
  cursor: pointer;
  transition: .3s;
}

.menu ul:hover {
  opacity: .6;
}

.current-user-name {
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  padding: 9px 20px;
}

/* ---------- Dashboard ---------- */

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(180px, 1fr));
  gap: var(--small-gap);
  width: 100%;
  height: 100vh;
  padding: 12rem 2.5rem 2.5rem 2.5rem;
}

/* ---------- Welcome ---------- */

.welcome-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  padding: var(--box-padding);
  border-radius: 30px;
  overflow: hidden;
  grid-column: 1/3;
}

.welcome-conatiner p {
  font-size: 1.3rem;
  font-weight: 600;
}

.welcome-conatiner h1 {
  font-size: 2rem;
  font-weight: 600;
  align-self: flex-end;
}

.img-container {
  width: 280px;
  position: absolute;
  top: 1.7rem;
  left: 4.5rem;
}

/* ---------- Notificatioin ---------- */

.notifications-container {
  background-color: var(--pink);
  padding: 0 1.8rem;
  border-radius: 30px 30px 30px 0px;
  grid-row: 2/4;
  grid-column: 1/3;
  overflow: scroll;
  position: relative;
}

.notifications-container::-webkit-scrollbar {
  display: none; 
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.7rem;
  position: sticky;
  top: 0;
  background-color: var(--pink);
  padding: 1.2rem 0rem;
  z-index: 50;
}

.gradient {
  background-color: var(--pink);
  position: sticky;
  bottom: -.5rem;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 100;
  margin-top: -2.5rem;
  pointer-events: none;
  mask-image: linear-gradient(to bottom, transparent, var(--pink) 60%, var(--pink) 90%, transparent);
}

.notification {
  border-bottom: .5px solid #976382;
  padding-bottom: var(--small-gap);
  margin-bottom: var(--small-gap);
  cursor: pointer;
}

.notification:hover .notification-text {
  opacity: .6;
}

.date {
  font-size: var(--smallest-font);
  margin-bottom: .2rem;
}

.notification-objects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-text {
  font-weight: 500;
  font-size: var(--medium-font);
  transition: .3s;
}


.unread {
  font-size: var(--smallest-font);
  color: #fff;
  background-color: #000;
  padding: 3px 12px;
  border-radius: 50px;
}

.read {
  font-size: var(--smallest-font);
  color: #000;
  background-color: #fff;
  padding: 3px 12px 3px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  column-gap: .2rem;
}

.read i {
  font-size: 1rem;
}

/* ---------- Message ---------- */

.messages-container {
  background-color: var(--purple);
  border-radius: 30px 30px 0px 30px;
  padding: 0 1.8rem;
  grid-column: 3/6;
  grid-row: 1/4;
  color: #fff;
  overflow: scroll;
}

.messages-container::-webkit-scrollbar {
  display: none; 
}

.messages-container .gradient {
  background-color: var(--purple);
}

.messages-container .title {
  background-color: var(--purple);
}

.message {
  border-bottom: .5px solid #443a88;
  padding-bottom: var(--small-gap);
  margin-bottom: var(--small-gap);
  cursor: pointer;
}

.message:hover .message-text {
  opacity: .6;
}

.message-objects{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message-text {
  font-size: var(--big-font);
  font-weight: 500;
  transition: .3s;
}

.user {
  margin-top: var(--small-gap);
}

.user p {
  display: inline-block;
  font-size: var(--small-font);
}

.user span {
  font-size: 1.2;
  font-weight: 600;
  color: var(--purple);
  background-color: var(--yellow);
  padding: 1px 7px;
  border-radius: 50%;
  margin-right: .4rem;
}

.time {
  font-size: var(--small-font);
}

/* ---------- Conversations ---------- */

.list-container {
  color: #fff;
  background-color: var(--purple);
  grid-row: 1/4;
  border-radius: 30px;
  padding: var(--box-padding);
}

.list-user-container {
  padding-bottom: var(--small-gap);
  margin-bottom: var(--small-gap);
  border-bottom: .5px solid #443a88;
  transition: .3s;
  cursor: pointer;
}

.list-user-container:hover {
  opacity: .6;
}

.small-title {
  font-weight: 500;
  font-size: var(--medium-font);
  margin-bottom: 2.7rem;
}

.conversation-container {
  color: #000;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  grid-column: 2/6;
  grid-row: 1/4;
  padding: 0 1.8rem;
  border-radius: 30px 30px 0px 30px;
}

.conversation-container .title {
  background-color: #fff;
  margin-bottom: 0;
  border-bottom: .5px solid #000;
}

.title span {
  font-size: var(--medium-font);
  cursor: pointer;
  transition: .3s;
}

.title span:hover {
  opacity: .6;
}

.conversation {
  overflow: scroll;
  margin-top: auto;
  margin-bottom: 2rem;
  flex: 1;
}

.conversation::-webkit-scrollbar {
  display: none; 
}

.message-container-right {
  text-align: right;
}

.content-left,
.content-right {
  color: #fff;
  display: inline-block;
  background-color: var(--purple);
  padding: .8rem 1.2rem;
  font-size: var(--reg-font);
  border-radius: 50px 0px 50px 50px;
  margin-top: .5rem;
}

.content-left {
  color: #000;
  background-color: var(--pink);
  border-radius: 0px 50px 50px 50px;
}

.user-input-container {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1.8rem;
  border: .5px solid #000;
  border-radius: 50px;
}

.user-input-container input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: var(--small-gap);
}

.send-btn {
  color: #fff;
  padding: 7px 20px;
  border-radius: 50px;
  background-color: #000;
}